# Ignorar entornos virtuales
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Ignorar archivos compilados
*.pyc
*.pyo
__pycache__/

# Ignorar archivos de configuración del entorno
.env

# Ignorar archivos de logs
*.log

# Ignorar archivos de bases de datos SQLite
*.sqlite3

# Ignorar configuraciones específicas de editores
.vscode/
.idea/

# Ignorar archivos de cobertura de pruebas
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Ignorar archivos de Jupyter Notebook
.ipynb_checkpoints/

# Ignorar archivos generados por PyInstaller
*.spec

# Ignorar archivos de empaquetado y distribución
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
*.wheel

# Ignorar archivos de configuración de Pyre
.pyre/
