# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
.env

# IDE files
.idea/
.vscode/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Python files
*.pyc

# Database files
*.db
*.sqlite

# Logs and output
*.log
*.csv
*.xlsx
*.xls
*.pdf

# Dependency directories
env/
lib/
libs/
